/* uso de variables para todo el documento */
:root {
    /*Paleta de colores*/
    --azules-1: #2C63A4;
    --azules-2: #6B798A;
    --azules-3: #517396;
    --azules-4: #0A5DC1;
    --azules-5: #024FAC;
    --amaril-1: #FBD933;
    --amaril-2: #D2CA9F;
    --amaril-3: #EFD971;
    --amaril-4: #FFD300;
    --rojos-1: #FB6333;
    --rojos-2: #FF3D00;
    --negro-1: #333;
    --background-color: #f4f4f4;
    --font-s: 12px;
    --font-m: 16px;
    --font-l: 20px;
}
/*estilo de letra para el encabezado y pie de pagina */
@font-face {
    font-family: 'h1h2font';
    src: url("../assets/fonts/StackSansNotch-SemiBold.ttf");
}
/* Estila todas las etiquetas del documento */
* {
    box-sizing: border-box;
}
/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
/* Estilos para el contenedor principal de las paginas */
main {
    height: 100vh;
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 110px 1fr;
    grid-template-rows: 100px 1fr 110px;
    gap: 0.5rem;
    grid-template-areas:
        "my-header my-header"
        "my-nav my-sectioni"
        "my-footer my-footer";
}
/* Estilos para el encabezado de las paginas */
.encabezadopri {
    grid-area: my-header;
    display: flex;
    justify-content: center;
    background-color: var(--azules-5);
}
.encabezadopri > h1 {
    font-family: h1h2font, Arial, sans-serif;
    color: var(--rojos-1);
}
/* Estilos para el Pie de Paginas*/
.piepri {
    grid-area: my-footer;
    background-color: var(--azules-5);
}
.piepri > h2 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    color: var(--rojos-1);
    font-family: h1h2font, Arial, sans-serif;
}
.piepri > p {
    color: var(--rojos-1);
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.iconos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.iconos > i {
    font-size: 1.5rem;
    color: var(--rojos-1)
}
.iconos > i:hover{
    cursor: pointer;
    color: var(--amaril-2)
}

/*Estilos menu de navegacion*/
.navpri {
    grid-area: my-nav;
    background-color: var(--azules-5);
    
}
.botonera {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: nowrap;
    align-items: start;
    padding: 1rem 0 1rem 10px;
    position: sticky;
    top:0;
}
.botonera > div > a {
    font-size: var(--font-s);
}
.btnmenuini, .btnmenu {
    text-align: center;
    border: 1px solid var(--amaril-3);
    padding: 10px 10px;
    width: 90px;
    box-shadow: 5px 5px var(--azules-2);
    border-radius: 5px;
    background-color: var(--amaril-3);
}
.btnmenuini {
    background-color: var(--rojos-2);
    
}
.btnmenuini > a {
    color: var(--amaril-2);
    text-decoration: none;
    text-transform: none;
}
.btnmenu > a {
    color: var(--azules-5);
    text-decoration: none;
    text-transform: none;
}
.btnmenu:hover {
    background-color: var(--rojos-2);
    border-color: var(--amaril-3);
}
.btnmenu > a:hover {
    color: var(--amaril-2);
}
/*Estilos para la seccion de la vista Index*/
.sectionindex {
    grid-area: my-sectioni;
    /*background-color: var(--azules-3);*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 250px 320px;

}
.fontN {
    font-family: h1h2font, Arial, sans-serif;
}
/*Estilos para el Aside*/
.asideindex {
    /*grid-area: my-indexaside;*/
    border: 1px solid var(--amaril-1);
    background-color: var(--amaril-3);
    margin: 0.5rem;
    border-radius: 5px;
    color: var(--rojos-1);
    box-shadow: 5px 5px var(--amaril-2);
}
.asideindex > h3 {
    margin: 0.5rem 0;
    padding-left: 1rem;
    font-size: var(--font-m);
    font-family: h1h2font, Arial, sans-serif;
}
.asideindex > p {
    margin: 0.5rem 0;
    padding-left: 1rem;
    font-size: var(--font-s);
}
/*Estilos para los articulos*/
.articleindex1, .articleindex2 {
    border: 1px solid var(--azules-5);
    border-radius: 5px;
    margin: 0.5rem;
    box-shadow: 5px 5px var(--azules-2);
    overflow: auto;
}
.articleindex1 > h3, .articleindex2 > h3 {
    color: var(--rojos-1);
    margin: 0.5rem 0;
    padding-left: 1rem;
    font-size: var(--font-m);
}
.articleindex1 > p, .articleindex2 > p {
    line-height: 20px;
    text-align: start;
    padding: 0.5rem 1rem;
    text-indent: 5px;
    font-size: var(--font-s);
}

/*Estilos para el servicio*/
/*Section Service*/

.sectionservice {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
        "my-section1"
        "my-section2";
    border: 1px solid var(--azules-4);
    border-radius: 5px;
    gap: 0.5rem
}
.articleservice1 {
    grid-area: my-section1;
    display: flex;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}
.articleservice1 > h2 {
    color: var(--rojos-1);
    margin: 0;
    font-size: var(--font-m);
    font-family: h1h2font, Arial, sans-serif;
}
.articleservice2 {
    grid-area: my-section2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "my-galery1"
        "my-galery2";
    gap: 0.5rem;
    margin: 0 auto;
}
.galery1, .galery2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px auto;
    gap: 0.5rem;
    grid-row: 1;
    margin: 0;
}
.galery1 {
    grid-area: my-galery1;
}
.galery2 {
    grid-area: my-galery2;
}
.leyenda1, .leyenda2, .leyenda3, .leyenda4 {
    text-align: center;
    width: 100px;
    font-family: h1h2font, Arial, sans-serif;
    color: var(--rojos-1);
    font-size: var(--font-s);
}
.imagen1, .imagen2 {
    grid-row: 1;
}
.imagen3, .imagen4 {
    grid-row: 3;
}
.leyenda1, .leyenda2 {
    grid-row: 2;
}
.leyenda3, .leyenda4 {
    grid-row: 4;
}
.galery1 > div > img, .galery2 > div > img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    align-self: center
}
.galery2 > .imagen3 {
    background-color: var(--negro-1);
    border-radius: 5px;
}
/*Fin de estilos de servicios*/

/*Estilos para seccion del formulario*/
.sectionpresupuesto {
    display:flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    /*border: 1px solid var(--azules-5);*/
    flex-direction: column;
    justify-content: space-evenly;
}
.articlepresupuesto1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.articlepresupuesto1 > h2 {
    font-family: h1h2font, Arial, sans-serif;
    font-size: var(--font-m);
    color: var(--rojos-1);
}
.articlepresupuesto2 {
    margin: 0.5rem 0.5rem;
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
}
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20px 25px 20px 25px 20px 25px 20px auto 20px auto auto 40px;
    gap: 0.4rem;
    grid-template-areas: 
        "my-lbl1 my-lbl1"
        "my-txt1 my-txt1"
        "my-lbl2 my-lbl2"
        "my-txt2 my-txt2"
        "my-lbl3 my-lbl3"
        "my-txt3 my-txt3"
        "my-lbl4 my-lbl4"
        "my-txt4 my-txt4"
        "my-lbl5 my-lbl5"
        "my-txt5 my-txt5"
        "my-lbl6 my-txt6";
    border: 1px solid var(--rojos-1);
    border-radius: 5px;
    padding: 1rem;
}
.lbl1 {
    grid-area:my-lbl1;
}
.txt1 {
    grid-area:my-txt1;
}
.lbl2 {
    grid-area:my-lbl2;
}
.txt2 {
    grid-area:my-txt2
}
.lbl3 {
    grid-area:my-lbl3;
}
.txt3 {
    grid-area:my-txt3;
}
.lbl4 {
    grid-area:my-lbl4;
}
.txt4 {
    grid-area:my-txt4;
}
.lbl5 {
    grid-area:my-lbl5;
}
.txt5 {
    grid-area:my-txt5;
    font-size: var(--font-s);
}
.lbl6 {
    grid-area:my-lbl6;
}
.txt6 {
    grid-area:my-txt6;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
}
label {
    font-size: var(--font-s);
    color: var(--rojos-1);
    align-self: center;
}
input {
    border-radius: 5px;
    border-color: var(--rojos-1);
    border-top: 1px solid var(--rojos-1);
    border-left: 1px solid var(--rojos-1);
    font-size: var(--font-s);
}
.btn1, .btn2 {
    height: 45px;
    background-color: var(--rojos-1);
    color: var(--amaril-3);
    border-color: var(--rojos-1);
    border-radius: 4px;
}
.btn1:hover, .btn2:hover {
    cursor: pointer;
    background-color: var(--amaril-3);
    color: var(--rojos-1)
}
/*fin de estilos para presupuesto*/

/*inicio de estilos para contacto*/
.sectioncontacto {
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;
    gap: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    justify-content: space-between;
}
.articlecontacto1 {
    width:100%;
    height: 100px;
    background-color: var(--amaril-3);
    border-radius: 5px;
}
.articlecontacto2 {
    width: 100%;
    height: 100%;
    background-color: var(--azules-3);
    border-radius: 5px;
}
.articlecontacto1 > p {
    font-size: var(--font-s);
    color: var(--rojos-1);
    margin: 1rem 0.5rem;
    overflow: auto;
}
.articlecontacto2 > img {
    border: 1px solid var(--rojos-2);
    border-radius: 5px;
    object-fit:cover;
}

/*parte responsiva de la pagina*/
@media (width >= 600px) {
    main {
        grid-template-columns: auto;
        grid-template-rows: 100px 76px 1fr 110px;
        grid-template-areas: 
            "my-header"
            "my-nav"
            "my-sectioni"
            "my-footer";
    }
    /*menu de navegacion*/
    .botonera {
        flex-direction: row;
        position: static;
    }
    .botonera > div > a {
        font-size: var(--font-m);
    }
    .btnmenuini, .btnmenu {
        width: 110px;
    }

    /*index*/

    .sectionindex {
        grid-template-columns: 350px 1fr;
        grid-template-rows: auto auto;
    }
    .asideindex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        grid-row: 1 / 3;
    }
    .articleindex1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        
    }
    .articleindex2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .asideindex > h3 {
        font-size:var(--font-l);
    }
    .asideindex > p {
        margin: 0.5rem 0;
        padding-left: 1rem;
        font-size: var(--font-m);
    }
    .articleindex1 > h3, .articleindex2 > h3 {
        font-size: var(--font-l);
    }
    .articleindex1 > p, .articleindex2 > p {
        font-size: var(--font-m);
        text-align: justify;
        text-indent: 20px;
    }

    /*Servicios*/

    .sectionservice {
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "my-section1 my-section2";
        border: none;
    }
    .articleservice1 {
        background-color: var(--amaril-3);
        border-radius: 5px;
        box-shadow: 5px 5px var(--amaril-2);
    }
    .articleservice1 > h2 {
        font-size: var(--font-l);
        color: var(--rojos-1);
    }
    .articleservice2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "my-galery1 my-galery2";
        gap: 0.5rem;
        margin: 0 auto;
        align-items: center;
    }
    .galery1, .galery2 {
        grid-template-rows: 150px 50px 150px 50px;
    }
    .galery1 > div > img, .galery2 > div > img {
        width: 150px;
        height: 150px;
    }
    .leyenda1, .leyenda2, .leyenda3, .leyenda4 {
        width: 150px;
        font-size: var(--font-m);
    }

    /*Presupuestos*/

    .sectionpresupuesto {
        flex-direction: row;
        justify-content: start;
    }
    .articlepresupuesto1 {
        background-color: var(--amaril-3);
        border-radius: 5px;
        box-shadow: 5px 5px var(--amaril-2);
        width: 300px;
    }
    label {
        font-size: var(--font-m);
    }
    input {
        font-size: var(--font-m);
    }

    /*Estilos Contacto*/

    .sectioncontacto {
        display:flex;
        flex-wrap: nowrap;
        flex-direction:row
    }
    .articlecontacto1 {
        width:300px;
        height: 100%;
        background-color: var(--amaril-3);
        border-radius: 5px;
        box-shadow: 5px 5px var(--amaril-2);
    }
    .articlecontacto1 > p {
        font-size: var(--font-m);
        color: var(--rojos-1);
        margin: 1rem 0.5rem;
        overflow: auto;
    }
}