/* uso de variables para todo el documento */
:root {
    /*Paleta de colores*/
    --azules-1: #2C63A4;
    --azules-2: #6B798A;
    --azules-3: #517396;
    --azules-4: #0A5DC1;
    --azules-5: #024FAC;
    --amaril-1: #FBD933;
    --amaril-2: #D2CA9F;
    --amaril-3: #EFD971;
    --amaril-4: #FFD300;
    --rojos-1: #FB6333;
    --rojos-2: #FF3D00;

    --primary-color: #2c63a4;
    --secondary-color: #ff9800;
    --font-color: #333;
    --background-color: #f4f4f4;
}
/*estilo de letra para el encabezado y pie de pagina */
@font-face {
    font-family: 'h1h2font';
    src: url("../assets/fonts/StackSansNotch-SemiBold.ttf");
}
/* Estila todas las etiquetas del documento */
* {
    box-sizing: border-box;
}
/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
/* Estilos para el contenedor principal de las paginas */
main {
    width: 90%;
    height: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-template-rows: auto;
    gap: 0.5rem;
    grid-template-areas:
        "my-header my-header"
        "my-nav my-sectioni"
        "my-footer my-footer";
}
/* Estilos para el encabezado de las paginas */
.encabezadopri {
    grid-area: my-header;
    display: flex;
    justify-content: center;
    background-color: var(--azules-5);
}
.encabezadopri > h1 {
    font-family: h1h2font, Arial, sans-serif;
    color: var(--rojos-1);
}
/* Estilos para el Pie de Paginas*/
.piepri {
    grid-area: my-footer;
    background-color: var(--azules-5);
}
.piepri > h2 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    color: var(--rojos-1);
    font-family: h1h2font, Arial, sans-serif;
}
.piepri > p {
    color: var(--rojos-1);
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.iconos {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}
.iconos > i {
    font-size: 1.5rem;
    color: var(--rojos-1)
}
.iconos > i:hover{
    cursor: pointer;
    color: var(--amaril-2)
}

/*Estilos menu de navegacion*/
.navpri {
    grid-area: my-nav;
    background-color: var(--amaril-3);
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex-wrap: nowrap;
    align-items: start;
    padding: 1rem 0 1rem 10px;
}
.btnmenuini, .btnmenu {
    text-align: center;
    border: 1px solid var(--rojos-2);
    padding: 10px 10px;
    width: 110px;
    box-shadow: 5px 5px var(--azules-2);
    border-radius: 5px;
}
.btnmenuini {
    background-color: var(--rojos-2);
    
}
.btnmenuini > a {
    color: var(--amaril-2);
    text-decoration: none;
    text-transform: none;
}
.btnmenu > a {
    color: var(--azules-4);
    text-decoration: none;
    text-transform: none;
}
.btnmenu:hover {
    background-color: var(--rojos-2);
}
.btnmenu > a:hover {
    color: var(--amaril-2);
}
/*Estilos para la seccion de la vista Index*/
.sectionindex {
    grid-area: my-sectioni;
    /*background-color: var(--azules-3);*/
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "my-indexaside"
        "my-indexarti1"
        "my-indexarti2";
}
.fontN {
    font-family: h1h2font, Arial, sans-serif;
}
/*Estilos para el Aside*/
.asideindex {
    grid-area: my-indexaside;
    border: 1px solid var(--amaril-1);
    background-color: var(--amaril-3);
    margin: 0.5rem;
    border-radius: 5px;
    color: var(--rojos-1);
    box-shadow: 5px 5px var(--amaril-2);
}
.asideindex > h3, p {
    margin: 0.5rem 0;
    padding-left: 1rem;
}
/*Estilos para los articulos*/
.articleindex1 {
    grid-area: my-indexarti1;
    
}
.articleindex2 {
    grid-area: my-indexarti2;
}
.articleindex1, .articleindex2 {
    border: 1px solid var(--azules-5);
    border-radius: 5px;
    margin: 0.5rem;
    box-shadow: 5px 5px var(--azules-2);
}
.articleindex1 > h3, .articleindex2 > h3 {
    color: var(--rojos-1);
    margin: 0.5rem 0;
    padding-left: 1rem;
}
.articleindex1 > p, .articleindex2 > p {
    line-height: 23px;
    text-align: justify;
    padding: 0 1rem;
    text-indent: 30px;
}
/*Estilos para el servicio*/
/*Section Service*/
.sectionservice {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "my-section1"
        "my-section2";
    border: 1px solid var(--azules-4);
    border-radius: 5px;
    gap: 0.5rem
}
.articleservice1 {
    grid-area: my-section1;
    display: flex;
    margin: 0;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}
.articleservice1 > h2 {
    color: var(--rojos-1);
    margin: 0;
}
.articleservice2 {
    grid-area: my-section2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    margin: 0 auto;
}
.galery1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 0.5rem;
    grid-row: 1;
    margin: 1rem;

}
.leyenda1, .leyenda2, .leyenda3, .leyenda4 {
    text-align: center;
    width: 200px;
    font-family: h1h2font, Arial, sans-serif;
    color: var(--rojos-1);
}
.imagen1, .imagen2 {
    grid-row: 1;
}
.imagen3, .imagen4 {
    grid-row: 3;
}
.leyenda1, .leyenda2 {
    grid-row: 2;
}
.leyenda3, .leyenda4 {
    grid-row: 4;
}
img {
    width: 200px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    align-self: center
}
