/* uso de variables para todo el documento */
:root {
    --primary-color: #2c63a4;
    --secondary-color: #ff9800;
    --font-color: #333;
    --background-color: #f4f4f4;
}
/*estilo de letra para el encabezado y pie de pagina */
@font-face {
    font-family: 'h1h2font';
    src: url("../assets/fonts/StackSansNotch-SemiBold.ttf");
}
/* Estila todas las etiquetas del documento */
* {
    box-sizing: border-box;
}
/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}
/* Estilos para el contenedor principal de las paginas */
main {
    width: 90%;
    height: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 150px 90px 1fr 150px;
    grid-template-rows: auto;
}
/* Estilos para el encabezado bde las paginas */
.encabezadopri {
    display: flex;
    justify-content: center;
    
    background-color: var(--primary-color);
}
.encabezadopri > h1 {
    font-family: h1h2font, Arial, sans-serif;
    color: var(--background-color);
}